.conoceme {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conoceme__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conoceme__name {
  font-family: 'Special Elite', cursive;
  font-size: 40px;
}

.conoceme__job {
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin: 0 0 40px;
}

.conoceme__block1 {
  display: flex;
  align-items: center;
}

.conoceme__img {
  height: 450px;
  width: 450px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 10px 0 60px;
}

.conoceme__text {
  font-family: 'Special Elite', cursive;
  font-size: 20px;
  line-height: 30px;
  padding: 10px 60px;
  margin: 0;
}

.conoceme__red-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: red;
  font-family: 'Special Elite', cursive;
  font-size: 20px;
  margin-top: 15px;

    &:hover {
      box-shadow: (-2px 3px 10px 0 rgba(0, 0, 0, 0.1));
      filter: drop-shadow(5px 5px 10px rgb(156, 154, 154));
      transition: 0.5s;
      transform: scale(1.1);
      font-size: 23px;
      font-weight: 800;
    }
}

.fas {
  font-size: 38px;
}